Repository hanax-ai/hx-citadel-ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-mutable-defaults, ansible-fqcn-check, python-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks for HX-Citadel Ansible
# Prevents issues before commit (catches linter issues early)
# Install: pip install pre-commit && pre-commit install

repos:
  # Ruff - Fast Python linter (replaces flake8, isort, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      # Run linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      # Run formatter
      - id: ruff-format
        types: [python]

  # Ansible linting
  - repo: https://github.com/ansible/ansible-lint
    rev: v24.9.2
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        args: [--write]
        exclude: ^(tech_kb/|\.ansible_cache/|molecule/)

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: ^(tech_kb/|\.ansible_cache/)

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^tests/

  # General fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in Ansible
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn

  # Custom local hooks for project-specific checks
  - repo: local
    hooks:
      # Catch mutable defaults (Issues #38, #40)
      - id: no-mutable-defaults
        name: Check for mutable defaults in Pydantic models
        entry: python3 -c "import sys, re; files = sys.argv[1:]; pattern = r':\s*(?:List|Dict)\[[^\]]+\]\s*=\s*(?:\[\]|\{\})'; exit(1 if any(re.search(pattern, open(f).read()) for f in files if f.endswith('.py')) else 0)"
        language: system
        types: [python]
        pass_filenames: true
      
      # Ensure FQCN in Ansible (our linting standard)
      - id: ansible-fqcn-check
        name: Check Ansible FQCN compliance
        entry: bash -c 'grep -rn "^  [a-z_]*:" --include="*.yml" roles/ playbooks/ 2>/dev/null | grep -v "ansible.builtin\|community\." && exit 1 || exit 0'
        language: system
        pass_filenames: false
        files: \.(yaml|yml)$
        stages: [commit, push]
      
      # Python syntax validation (Issue #45)
      - id: python-syntax-check
        name: Python Syntax Check
        entry: python3 -m py_compile
        language: system
        types: [python]
        description: "Validates Python syntax before commit (prevents syntax errors like Issue #45)"

# Global configuration
default_language_version:
  python: python3.12

fail_fast: false

feat(automation): add script to parse code reviews and create GitHub issues
  .github/scripts/parse-review-create-issues.py
Due: no-mutable-defaults, python-syntax-check

feat(automation): add workflow to auto-create issues from code reviews
  .github/workflows/review-to-issues.yml
Due: ansible-fqcn-check

feat(automation): complete CodeRabbit CLI integration
  .github/scripts/review-and-create-issues.sh
  .github/workflows/cli-review-on-push.yml
  docs/ci-cd/coderabbit/CLI-INTEGRATION.md
Due: ansible-fqcn-check

docs: add autonomous Claude + CodeRabbit CLI integration guide
  docs/ci-cd/coderabbit/CLAUDE-INTEGRATION.md
Due: none

docs: comprehensive review of Dev-Server-Configuration documentation
  DEV_SERVER_REVIEW_SUMMARY.md
Due: none

docs: CodeRabbit review findings for citadel-shield-ui repository
  CITADEL_SHIELD_UI_FINDINGS.md
  CITADEL_SHIELD_UI_REALITY_CHECK.md
Due: none

docs(dev-server): update to hybrid approach (Vite+React+FastAPI) - Part 1
  docs/Dev-Server-Configuration/DEV-SERVER-AG-UI-IMPLEMENTATION-PLAN.md
  docs/Dev-Server-Configuration/README.md
Due: none

docs(dev-server): update implementation plan for hybrid approach - Part 2
  docs/Dev-Server-Configuration/DEV-SERVER-AG-UI-IMPLEMENTATION-PLAN.md
  docs/Dev-Server-Configuration/DEV_SERVER_REVIEW_SUMMARY.md
  docs/Dev-Server-Configuration/SHIELD-AG-UI-ARCHITECTURE.md
  docs/Dev-Server-Configuration/front-end-app=structure.md
Due: none

docs(dev-server): comprehensive hybrid approach updates - Part 3
  docs/Dev-Server-Configuration/tasks/README.md
  docs/Dev-Server-Configuration/tasks/T003-frontend-vite-integration.md
Due: none

docs(dev-server): complete hybrid approach updates - FINAL
  DEV_SERVER_REVIEW_SUMMARY.md
  docs/Citadel-App/CITADEL_SHIELD_UI_FINDINGS.md
  docs/Citadel-App/CITADEL_SHIELD_UI_REALITY_CHECK.md
  docs/Citadel-App/CI_AUTOMATION_CAPABILITIES.md
  docs/Citadel-App/CLAUDE_REVIEW_ISSUE_MAPPING.md
  docs/Citadel-App/CLAUDE_REVIEW_RECONCILIATION.md
  docs/Dev-Server-Configuration/SHIELD-AG-UI-ARCHITECTURE.md
  docs/ci-cd/coderabbit/example.md
  docs/deployment/DEPLOYMENT_ISSUES_SUMMARY.md
Due: none

docs(dev-server): final cleanup - all Next.js references updated
  docs/Dev-Server-Configuration/DEV-SERVER-AG-UI-IMPLEMENTATION-PLAN.md
  docs/Dev-Server-Configuration/README.md
  docs/Dev-Server-Configuration/STAKEHOLDER-DECISIONS-SUMMARY.md
  docs/Dev-Server-Configuration/tasks/README.md
  docs/Dev-Server-Configuration/tasks/T002-backend-fastapi-app.md
  docs/Dev-Server-Configuration/tasks/T003-frontend-vite-integration.md
  docs/Dev-Server-Configuration/tasks/T004-docker-compose-config.md
  docs/Dev-Server-Configuration/tasks/T005-nginx-reverse-proxy.md
Due: none

docs: add Devin implementation assignment and review prompt
  DEVIN_IMPLEMENTATION_PROMPT.md
Due: none

docs: update Devin prompt - clarify code-only scope (no deployment)
  DEVIN_IMPLEMENTATION_PROMPT.md
Due: none

docs: add comprehensive frontend Supabase removal guide
  docs/Dev-Server-Configuration/FRONTEND_SUPABASE_REMOVAL_GUIDE.md
Due: none

docs: answer Devin's 3 clarification questions
  docs/Dev-Server-Configuration/DEVIN_QUESTIONS_ANSWERED.md
Due: none

docs: review and approve Devin's 20 answers - ready to proceed
  docs/Dev-Server-Configuration/DEVIN_REVIEW_AND_APPROVAL.md
Due: none

docs: CRITICAL - correct Devin's scope to dev-server only (no frontend)
  docs/Dev-Server-Configuration/DEVIN_REVIEW_AND_APPROVAL.md
  docs/Dev-Server-Configuration/DEVIN_SCOPE_CORRECTION.md
Due: none

docs: verify frontend AI work - NO CHANGES DETECTED
  docs/Citadel-App/FRONTEND_AI_WORK_VERIFICATION.md
Due: none

docs: frontend AI work verification - 70% complete, cleanup needed
  docs/Citadel-App/FRONTEND_AI_WORK_VERIFICATION.md
Due: none

docs: frontend cleanup complete - 90% ready for integration
  docs/Citadel-App/FRONTEND_CLEANUP_COMPLETE.md
Due: none

docs: create Citadel-App task files for remaining frontend work
  docs/Citadel-App/tasks/README.md
  docs/Citadel-App/tasks/T001-fix-coderabbit-issues.md
  docs/Citadel-App/tasks/T002-frontend-testing.md
  docs/Citadel-App/tasks/T003-documentation-consolidation.md
Due: none

fix: update AG-UI SDK to install from Git repository
  roles/shield_ag_ui/files/backend/requirements.txt
Due: none

docs: T002 complete - frontend testing report (structural validation)
  docs/Citadel-App/FRONTEND_TEST_REPORT.md
Due: none

docs: T003 complete - Citadel-App documentation organized
  docs/Citadel-App/README.md
  docs/Citadel-App/guides/FRONTEND_CLEANUP_COMPLETE.md
  docs/Citadel-App/guides/FRONTEND_SUPABASE_REMOVAL_GUIDE.md
  docs/Citadel-App/reference/CI_AUTOMATION_CAPABILITIES.md
  docs/Citadel-App/reviews/CITADEL_SHIELD_UI_FINDINGS.md
  docs/Citadel-App/reviews/CITADEL_SHIELD_UI_REALITY_CHECK.md
  docs/Citadel-App/reviews/CLAUDE_REVIEW_ISSUE_MAPPING.md
  docs/Citadel-App/reviews/CLAUDE_REVIEW_RECONCILIATION.md
  docs/Citadel-App/reviews/FRONTEND_AI_WORK_VERIFICATION.md
  docs/Citadel-App/reviews/FRONTEND_TEST_REPORT.md
Due: none

fix: correct YAML syntax in review-to-issues workflow (line 120)
  .github/workflows/review-to-issues.yml
Due: ansible-fqcn-check

fix: Resolve all ansible-lint violations (11→0) - Issue #68
  .ansible-lint
  .github/scripts/assign-issues.sh
  .github/scripts/pull-my-issues.py
  docs/Dev-Server-Configuration/FRONTEND_SUPABASE_REMOVAL_GUIDE.md
  roles/fastapi/tasks/integrate-agents-workflows.yml
  roles/orchestrator_qdrant/tasks/05-validation.yml
  roles/orchestrator_workers/tasks/07-validation.yml
  roles/postgresql_role/meta/main.yml
  roles/postgresql_role/tasks/setup-Archlinux.yml
  roles/postgresql_role/tasks/setup-Debian.yml
  roles/qdrant_web_ui/tasks/main.yml
  roles/redis_role/meta/main.yml
Due: no-mutable-defaults, ansible-fqcn-check, python-syntax-check

fix: address Claude code review - vault secrets, error handling, inventory groups, SDK pinning, CORS
  roles/shield_ag_ui/README.md
  roles/shield_ag_ui/defaults/main.yml
  roles/shield_ag_ui/files/backend/requirements.txt
  roles/shield_ag_ui/files/backend/src/config.py
  roles/shield_ag_ui/tasks/06-docker-compose.yml
  roles/shield_ag_ui/tasks/08-service-start.yml
  roles/shield_ag_ui/templates/.env.template.j2
Due: no-mutable-defaults, ansible-fqcn-check, python-syntax-check

fix: Add safeguards for parallel test execution - Issue #54
  tests/unit/conftest.py
Due: no-mutable-defaults, python-syntax-check

docs: Add agent work summary and issue management automation
  docs/AGENT_WORK_SUMMARY.md
Due: none

fix: Replace hard-coded skip with conditional skipif - Issues #55-56
  tests/integration/test_mcp_server_health.py
Due: no-mutable-defaults, python-syntax-check

feat: Add MCP tool implementation tests with mocked dependencies - Issue #53
  tests/unit/test_mcp_tool_implementations.py
Due: no-mutable-defaults, python-syntax-check

feat: Add 2 new integration test files (4 total) - Issue #72
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_orchestrator_api_flow.py
Due: no-mutable-defaults, python-syntax-check

fix: implement deferred Redis XACK pattern and final health check fixes
  roles/shield_ag_ui/files/backend/src/services/redis_consumer.py
  roles/shield_ag_ui/templates/docker-compose.yml.j2
Due: no-mutable-defaults, python-syntax-check

fix: Correct coverage target to application code - Issue #42
  .github/workflows/test.yml
Due: ansible-fqcn-check

feat: Add CodeRabbit continuous monitoring daemon
  .github/scripts/coderabbit-monitor.sh
Due: none

feat: Add CodeRabbit pre-commit hooks - Before commit review
  .github/hooks/pre-commit.template
  .pre-commit-config.yaml
Due: ansible-fqcn-check

fix: Handle exit codes properly in pre-commit hooks
  .github/hooks/pre-commit.template
  .pre-commit-config.yaml
Due: ansible-fqcn-check

docs: Project status update - Parallel AI workflow complete
  status/STATUS-2025-10-13.md
Due: none

feat: Cherry-pick load testing framework and E2E tests
  tests/integration/test_lightrag_e2e.py
  tests/integration/test_qdrant_operations_e2e.py
  tests/integration/test_web_crawling_e2e.py
  tests/load/README.md
  tests/load/load_test_config.yaml
  tests/load/locustfiles/__init__.py
  tests/load/locustfiles/circuit_breaker.py
  tests/load/locustfiles/mcp_server.py
  tests/load/locustfiles/orchestrator_api.py
  tests/load/locustfiles/qdrant_operations.py
  tests/load/run_load_tests.sh
Due: no-mutable-defaults, ansible-fqcn-check, python-syntax-check
